.ilText{
    position: relative;
    top:-200px;
    left: -40%
}
.ilArrow{
    user-select: none;
    position: relative;
    width: 65%;
}
.miText{
    position: relative;
    top:-510px;
    left: 20%
}
.miArrow{
    user-select: none;
    transform: rotate(140deg);
    position: relative;
    width: 65%;
    top: -250px;
    left: -40%
}
.denText{
    position:relative;
    top: -200px;
    left: 30%

}
.denArrow{
    user-select: none;
    transform: scale(-1, 1) rotate(-25deg);
    position: relative;
    width: 65%;
    left: -30%;
    top: -55px

}
.avatar{
    user-select: none;
    width: 50%;
    cursor: pointer;
    z-index: 10;
}
.avatar:hover{
    width: 60%;
    transition: 0.3s;
    opacity: 0.7;
}
.person{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team{
    font-family: 'Inconsolata', monospace;
    color: #323232;
    padding-top: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;

}



.carouselAvatar{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-top:5%;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1150px){
    .carouselAvatar{
        flex-direction: column ;   
    }
    .danya{
        margin-top: -250px;
    }
    .ilArrow{
        width: 55%;

        top: -60px;
        transform:  rotate(-35deg);
        left: 40%

    }
    .ilText{
        left: -10%
    }
    .denArrow{
        width: 55%;
        left: -35%;
        transform: scale(-1, 1) rotate(-35deg);
    }
    .denText{
        top: -170px;
        left:15%
    }

}

@media (max-width: 500px) {
    .team{
        padding-top: 50%;

    }
}

@media (max-width: 430px) {
    
    .team{
        padding-top: 50%;
    }
    .avatar{
        width: 40%;
    }
    .carouselAvatar{
        font-size: 12px;

        flex-direction: column ;   
    }
    .miText{
        position: relative;
        top:-380px;
        left: 13%
    }
    .miArrow{
        top: -200px;
        left: -30%;
        width: 40%;
    }
    .danya{
        margin-top: -150px;
    }
    .ilArrow{
        width: 40%;
        top: -50px;
        transform:  rotate(-35deg);
        left: 30%

    }
    .ilText{
        top:-140px;
        left: -5%
    }
    .denArrow{
        width: 40%;
        left: -30%;
        transform: scale(-1, 1) rotate(-35deg);
    }
    .denText{
        top: -130px;
        left:10%
    }
}

@media (max-width: 300px) {
    
    .team{
        padding-top: 50%;
    }
    .avatar{
        width: 40%;
    }
    .carouselAvatar{
        font-size: 10px;

        flex-direction: column ;   
    }
    .miText{
        position: relative;
        top:-300px;
        left: 10%
    }
    .miArrow{
        top: -150px;
        left: -33%;
        width: 40%;
    }
    .danya{
        margin-top: -150px;
    }
    .ilArrow{
        width: 40%;
        top: -50px;
        transform:  rotate(-35deg);
        left: 30%

    }
    .ilText{
        top:-100px;
        left: -5%
    }
    .denArrow{
        width: 40%;
        left: -30%;
        transform: scale(-1, 1) rotate(-35deg);
    }
    .denText{
        top: -100px;
        left:10%
    }
}