.footer{
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.copyright{
    position: relative;
    margin-right: 40%;  
}

.socMedia:hover{
    transform: scale(1.1);
}
@media (max-width: 500px){
    .socMedia{
        width: 52px;
    }
    .copyright{
        margin-right: 10%;
        height: 24px;
        width: 50px;
        overflow: hidden;
    }

}



